* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.art-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.art-box {
    flex: 0 0 40%;
    background-color: #f6f6f6;
    border-radius: 15px;
    position: relative;
    padding-bottom: 40%; /* Match above % */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
}

.art-card {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.art-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
