/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    align-items: flex-start;
}

/* Form container */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding-top: 40px;
    margin-top: 50px;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #675651;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    color: #4f3428;
}

.form-container input[type="text"],
.form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #3c4c4d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #a05d54;
}

/* Card layout */
.form-container {
    display: grid;
    grid-template-columns: 1fr; /* Single card */
    gap: 1rem;
    width: min(90rem, calc(100% - 2rem));
    margin-inline: auto;
    padding-block: 1rem;
    list-style: none;
}
.form-content-container .formicon img {
    width: 40px;
    height: auto;
}


.form-content-container h1 {
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: normal;
}

.form-content-container .formicon {
    font-size: 2rem;
    text-align: center;
    margin-bottom: calc(var(--card-padding-block) * .5);
}

.form-content-container .title {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: var(--accent-color);
}

.form-content-container .descr {
    color: var(--text-color);
    font-size: 0.79rem;
    font-family: sans-serif;
    text-align: center;
    padding-top: 5px;
}



@media (max-width: 600px) {
    .form-container {
        grid-template-columns: 1fr;
    }
}


.form-content-container .descr a {
    color: #a05d54;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.form-content-container .descr a:hover {
    text-decoration: underline;
}

textarea {
    display: block;
    width: 100%;
    height: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: white;
    resize: vertical;
    cursor: text;
}
