@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Oswald:wght@500&display=swap');
@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-container {
  position: relative;
  overflow: hidden;
}

.background-image {
  display: block;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  opacity: .8;
}

.text-samantha {
  position: absolute;
  bottom: -3.2%;
  left: 25%;
  color: white;
  text-align: left;
  font-size: 3.5vw;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}



.headshot-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 2vw;
}

.image-me {
  padding: 0;
  flex-grow: 1;
}

.image-me img {
  width: 25vw;
  height: auto;
}

.text-left {
  margin-left: 1vw;
  flex-grow: 1;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-left h1 {
  font-size: 2.79rem;
  margin: 0;
  padding-bottom: 1vw;
  color: #de7948;
  letter-spacing: 0.2vw;
  font-weight: lighter;
}

.text-left .h4-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.text-left h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-weight: lighter;
  text-align: center;
  margin: 0 1vw;
}

.text-left h4:first-of-type {
  color: #a05d54ef;
  padding-bottom: .5vw;
}

.text-left h4:nth-of-type(2) {
  color: #eaad77e6;
  padding-bottom: .5vw;
  padding-left: .8vw;
}

.text-left h4:last-of-type {
  color: #fbdb85f3;
  padding-bottom: .5vw;
  padding-left: .8vw;
}


@media (max-width: 480px) {
  .text-left h1 {
      font-size: 1.5rem;
  }
  .text-left h4 {
    font-size: 1rem;
  }
  .text-left .h4-container {
    flex-direction: column;
  }
}


.over-content-container {
  background-color: rgba(205, 173, 139, 0.1);
  padding-bottom: 30px;
}




/* grid layout */
ol, ol::before, ol::after,
ol *, ol *::before, ol *::after { margin: 0; padding: 0; box-sizing: border-box }

ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* This ensures 3 items per row */
  gap: 1rem;

  width: min(60rem, calc(100% - 2rem));
  margin-inline: auto;
  padding-block: 1rem;

  list-style: none;
  counter-reset: count;
}

/* card layout/styling */
ol > li {
  --card-background-color: #fcfbfb;
  --card-text-color: #0F0F0F;
  --card-border-radius: 0.5rem;
  --card-padding-block: 1.5rem;
  --card-padding-inline: 1rem;

  --outset-size: 0.75rem;
  --outset-background-color: #e5e5e5;

  --number-font-size: 3rem;
  --number-overlap: 0.5rem;
  --number-font-family: 'Oswald', sans-serif;
  --number-font-weight: 500;

  margin: var(--outset-size);
  margin-top: calc(var(--number-font-size) - var(--number-overlap));
  border-radius: var(--card-border-radius);
  padding-block: var(--card-padding-block);
  padding-inline: var(--card-padding-inline);

  color: var(--card-text-color);
  background-color: var(--card-background-color);
  box-shadow:
    inset 1px 1px 0px rgb(255 255 255 / .5),
    inset -1px -1px 0px rgb(0 0 0 / .25),
    calc(var(--outset-size) * .25) calc(var(--outset-size) * .25) calc(var(--outset-size) * .5) rgb(0 0 0 / .25);
  position: relative;
  counter-increment: count;
}

ol > li::after{
  /* content: counter(count, decimal-leading-zero); */
  position: absolute;

  bottom: calc(100% - var(--number-overlap));
  left: 50%;
  transform: translateX(-50%);

  color: var(--accent-color);
  font-family: var(--number-font-family);
  font-weight: var(--number-font-weight);
  font-size: var(--number-font-size);
  line-height: 1;
  z-index: -1;
}
ol > li::before{
  content: "";
  position: absolute;
  width: calc(100% + (var(--outset-size) * 2));
  height: 100%;
  bottom: calc(var(--outset-size) * -1);
  left: calc(var(--outset-size) * -1);
  z-index: -1;

  border-bottom-left-radius: calc(var(--card-border-radius) + var(--outset-size));
  border-bottom-right-radius: calc(var(--card-border-radius) + var(--outset-size));

  background-color: var(--outset-background-color);

  background-image:
    linear-gradient(to left, var(--outset-background-color) calc(var(--outset-size) * 2), transparent 0),
    linear-gradient(135deg, var(--accent-color) 80%, var(--outset-background-color) 0);
}

/* card content */
.over-content-container h1 {
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: normal
}
.over-content-container .icon{
  font-size: 2rem;
  text-align: center;
  margin-bottom: calc(var(--card-padding-block) * .5);
}
.over-content-container .title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: var(--accent-color)
}
.over-content-container .descr {
  color: var(--text-color);
  font-size: 0.79rem;
  font-family:  sans-serif;
  text-align: center;
  padding-top: 5px;
}

/*  */
.over-content-container body {
  /* background-color: #f5f5f5; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Medium screens: 2 columns */
@media (max-width: 900px) {
  ol {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens: 1 column (optional) */
@media (max-width: 600px) {
  ol {
      grid-template-columns: 1fr;
  }
}


.visme-embed-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

iframe.visme {
  width: 800px;
  margin: 0 auto;
  display: block;
}
