.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.navbar {
  background-color: #ffffff;
  padding: 15px 10px 5px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .text-items {
  display: flex;
  gap: 35px;
}

.navbar .icon-items {
  display: flex;
  gap: 20px;
}

.navbar-item-text a {
  text-decoration: none;
  color: #3c4c4d;
  transition: color 0.3s;
  font-family: "Helvetica" , sans-serif;
  font-weight: 600 ; /*semibold, however helvetica only responds to bold/not bold*/
}

.navbar-item-text a:hover, .icon a:hover {
  color: #ddd;
  border-bottom: 2px solid #ddd;
}


.navbar .icon img {
  width: 30px;
  height: auto;
}

.navbar .icon a:hover {
  opacity: 0.5;
  border-bottom: 2px solid #9e9c9c;
}


@media (max-width: 768px) {
  .navbar-list {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #ffffff;
      z-index: 10000;
  }

  .navbar-list.open {
      display: flex;
  }

  .menu-icon {
      display: block;
  }

  .navbar .text-items, .navbar .icon-items {
      flex-direction: column;
      gap: 10px;
  }
}
