* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:Helvetica, sans-serif;
}

h1 {
	font-size: 1.2rem;
	text-align: left;
	color: white;
	padding-top: 8px;
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1;
	color: #0e390e;
	margin-bottom: 1rem;
	margin-left: 0rem;
}

.code-container {
    display: flex;
    align-items: center;
	margin-left: 1.5rem;
	gap: 1rem;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 25em;
	margin: 2rem auto;
	border: 8px solid;
	border-image: linear-gradient(-50deg, #a05d54 , #de7948, #4f3428, #a05d54, #eaac77, #e6865b, #a05d54 ) 1;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
}

.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #a05d54;
	transition: .4s ease-in-out;
	z-index: 1;
}

.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image:
    	linear-gradient(
      	to bottom,
      	#b4a28c 5%,
      	#675651 35% 65%,
      	#b4a28c 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.image-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-size: cover;
    transition: .3s ease-in-out;
}


.inset {
	max-width: 25%;
	margin: 0.25em 1em 1em 0;
	border-radius: 0.25em;
	float: left;
}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: .3s ease-in-out .3s;
}
.dot {
	width: 14px;
	height: 14px;
	background: #eaac77;
	border: 1px solid #675651;
	border-radius: 50%;
	transition: .3s ease-in-out .3s;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #4f34281e ;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y: scroll;
}

.wrap:hover .overlay h1{
	color:#fbdb85;
}

.wrap:hover .overlay p {
	color:#fbdb85;
}

.overlay p {
	color:#ffffff;
	font-size: 1rem
}

.wrap:hover .overlay
 {
	transform: translateX(-60vmin);
	padding: 0.5rem;
}

.wrap:hover .image-content {
	width: 40vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
	background: #a05d54c0;
}
.wrap:hover .dots {
	transform: translateX(1rem);
	z-index: 2;
}
.wrap:hover .dots .dot {
	background: #eaac77;
}


/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}

/* Styles for Small Screens */
@media (max-width: 768px) {
	h1 {
		font-size: 1rem;
		text-align: left;
		color: white;
		padding-top: 8px;
		padding-right: 6rem;
	}
	p {
		font-size: max(10pt, 2.5vmin);
		line-height: 1;
		color: #0e390e;
		margin-bottom: 1rem;
		margin-left: 1rem;
	}

	.wrap {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 85vmin;
		height: 25em;
		margin: 2rem auto;
		border: 8px solid;
		border-image: linear-gradient(-50deg, #a05d54 , #de7948, #4f3428, #a05d54, #eaac77, #e6865b, #a05d54 ) 1;
		transition: .3s ease-in-out;
		position: relative;
		overflow: hidden;
	}

	.overlay {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		padding: 1rem .7rem;
		background: #a05d54;
		transition: .4s ease-in-out;
		z-index: 1;
	}

	.overlay-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 25vmin;
		height: 100%;
		padding: .5rem 0 0 .5rem;
		border: 3px solid;
		border-image:
			linear-gradient(
			  to bottom,
			  #b4a28c 5%,
			  #675651 35% 65%,
			  #b4a28c 95%
			) 0 0 0 100%;
		transition: .3s ease-in-out .2s;
		z-index: 1;
	}
	.image-content {
		position: absolute;
		top: 0;
		right: 0;
		width: 58vmin;
		height: 100%;
		background-size: cover;
		transition: .3s ease-in-out;
	}


	.inset {
		max-width: 25%;
		margin: 0.25em 1em 1em 0;
		border-radius: 0.25em;
		float: left;
	}

	.dots {
		position: absolute;
		bottom: 1rem;
		right: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 55px;
		height: 4vmin;
		transition: .3s ease-in-out .3s;
	}
	.dot {
		width: 14px;
		height: 14px;
		background: #eaac77;
		border: 1px solid #675651;
		border-radius: 50%;
		transition: .3s ease-in-out .3s;
	}

	.text {
		position: absolute;
		top: 0;
		right: 0;
		width: 60vmin;
		height: 100%;
		padding: 3vmin 4vmin;
		background: #4f34281e ;
		box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
		overflow-y: scroll;
	}

	.wrap:hover .overlay h1{
		color:#fbdb85;
	}

	.wrap:hover .overlay p {
		color:#fbdb85;
	}

	.overlay p {
		color:#ffffff;
		font-size: .8rem;
		margin-right: 6rem;
		margin-left: 0rem;
	}

	.wrap:hover .overlay
	 {
		transform: translateX(-60vmin);
		padding: 0.5rem;
	}

	.wrap:hover .image-content {
		width: 40vmin;
	}
	.wrap:hover .overlay-content {
		border: none;
		transition-delay: .2s;
		transform: translateX(60vmin);
		background: #a05d54c0;
	}
	.wrap:hover .dots {
		transform: translateX(1rem);
		z-index: 2;
	}
	.wrap:hover .dots .dot {
		background: #eaac77;
	}


	/* Animations and timing delays */
	.animate {
	  animation-duration: 0.7s;
	  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
	  animation-fill-mode: backwards;
	}
	/* Pop In */
	.pop { animation-name: pop; }
	@keyframes pop {
	  0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	  }
	  100% {
		opacity: 1;
		transform: scale(1, 1);
	  }
	}

	/* Slide In */
	.slide { animation-name: slide; }
	@keyframes slide {
	  0% {
		opacity: 0;
		transform: translate(4em, 0);
	  }
	  100% {
		opacity: 1;
		transform: translate(0, 0);
	  }
	}

	/* Slide Left */
	.slide-left { animation-name: slide-left; }
	@keyframes slide-left {
	  0% {
		opacity: 0;
		transform: translate(-40px, 0);
	  }
	  100% {
		opacity: 1;
		transform: translate(0, 0);
	  }
	}

	.slide-up {animation-name: slide-up;}
	@keyframes slide-up {
		0% {
			opacity: 0;
			transform: translateY(3em);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}}
	}
