
  .rela-block {
    display: block;
    position: relative;
    margin: auto;
  }


  .rela-block .top-bar p {
    line-height: .2;
  }

  .rela-inline {
    display: inline-block;
    position: relative;
    margin: auto;

  }
  .floated {
    display: inline-block;
    position: relative;
  }
  .abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    color: #FFDAB9;
    white-space: nowrap;
}

  .caps {
    text-transform: uppercase;
  }
  .justified {
    padding-left: 15px;
    font-size: 1rem;
  }

  p.light {
    color: #777;
    font-family: Helvetica, sans-serif;
  }
.page h2 {
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 600;
    line-height: 40px;
    color: #000000;
  }
  .page h4 {
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1px;
  }
  .page h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 28px;
    color: #000;
  }
  .page {
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    background-color: #fff;
    box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.4);
  }
  .top-bar {
    width: 100%;
    position: relative;
    height: 220px;
    background-color: #848484;
    color: #eaad77a9;
}
.name {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100% - 350px - 5%); /* Subtracting side-bar width and its left margin */
  text-align: center;
  font-family: 'Raleway';
  font-size: 4vw;
  letter-spacing: 0.7vw;
  font-weight: 100;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(350px + 5%); /* This pushes the .name to the right of the side-bar */
}

  .name div {
    width: 94%;
  }
  .side-bar {
    position: absolute;
    top: 60px;
    left: 5%;
    right: false;
    bottom: 0;
    width: 350px;
    background-color: #eaad774f;
    padding: 190px 30px 50px;
  }

  .mugshot {
    position: absolute;
    top: 50px;
    left: 70px;
    right: false;
    bottom: false;
    height: 210px;
    width: 210px;
  }
  .mugshot .logo {
    margin: -23px;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: false;
    bottom: false;
    z-index: 100;
    margin: 0;
    color: #000;
    height: 250px;
    width: 250px;
  }

  .contact-info p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
}

.contact-info {
    margin-bottom: 20px;
}

  .social {
    padding-left: 60px;
    margin-bottom: 20px;
  }


  .side-header {
    font-family: 'Open Sans', ;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 28px;
    margin: 60px auto 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
  }
  .list-thing {
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
  }
  .content-container {
    margin-right: 0;
    width: calc(95% - 350px);
    padding: 25px 40px 50px;

  }
  .content-container > * {
    margin: 0 auto 25px;
    font-family: Helvetica, sans-serif;
  }
  .content-container > h3 {
    margin: 0 auto 5px;
  }
  .content-container > p.long-margin {
    margin: 0 auto 50px;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
  }
  .title {
    width: 80%;
    text-align: center;
  }
  .separator {
    width: 240px;
    height: 2px;
    background-color: #999;
  }
  .greyed {
    background-color: #ddd;
    width: 100%;
    max-width: 580px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 6px;
    font-weight: 600;
    line-height: 28px;
  }




  @media screen and (max-width: 768px) {
    .side-bar {
        display: none;
    }

  .name {
    width: 100%;
    margin-left: 0;
    font-size: 6vw;
}
  .content-container {
    width: 100%;
    padding: 25px 2%;
  }
}


/* Making the side-bar more responsive */
@media screen and (min-width: 769px) and (max-width: 1000px) {
  .side-bar {
      width: 250px;
  }
  .content-container {
    width: 60%;
    padding: 25px 2%;
  }
  .name {
    width: 70%;
    margin-left: 35%;
}
}
