* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.bottom-image {
  display: block;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: top;
  opacity: 0.2;
  padding: 100px 0px 0px 0px;
}
